<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CursoWindowsFormsBiblioteca.Properties.Settings.ByteBankConnectionString"
            connectionString="Data Source=DESKTOP-S1FUTDS;Initial Catalog=ByteBank;Persist Security Info=True;User ID=sa;Password=holanda1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>