<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Fichario"
            connectionString="Data Source=DESKTOP-S1FUTDS;Initial Catalog=ByteBank;Persist Security Info=True;User ID=sa;Password=holanda1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>